.corpo{
    width: 100vw;
    height: 100vh;
}
.j-center{
    display: flex;
    justify-content: center;
}
.wid
{
    width: 50%;
}
.font
{
    font-family: 'Montserrat', sans-serif;
}